*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

#canvas{
    display: inline;
    background-color: transparent;
    margin-left:-15px;
    margin-right:-10px;
}

h1{
    display: inline;
    font-size: 65px;
    font-family: sans-serif;
    font-stretch: condensed;
}

header{
    position: fixed;
}

div{
    height: 4000px;
    width: 100%;
}
